<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/home.css">
    <title>King Pizzas</title> 
</head>
<body>
    <section class="container-pizza">
        <section class="imgpizza">
            <img src="../public/assets/img/—Pngtree—slice pizza cartoon_6033537.png" alt="logoPizza">
        </section>

        <section class="tittle-container">
            <p>King Pizzas</p>
        </section>

        <section class="footer">
            <p class="tittle-footer">Desenvolvido por <mark>Vinicius Soares</mark></p>
        </section>

    </section>
       
    <section class="main">
        <section class="headerMain">
            <img src="../public/assets/img/—Pngtree—slice pizza cartoon_6033537.png" alt="pizzaLogo">
            <h2 class="tittle-header">King Pizzas</h2>
            <p class="description-header">Confira nosso cardápio</p>
        </section>

        <section class="menu">
            <section class="menuOptions">
                <div class="OptionOne">
                    <img src="../public/assets/img/Calabresa.png" alt="calabresaPizza">
                    <p class="descriptionPizza">Calabresa</p>
                </div>
                <div class="OptionTwo">
                    <img src="../public/assets/img/Mozzarella.png" alt="mozzarellaPizza">
                    <p class="descriptionPizza">Mozzarela</p>
                </div>
            </section>

            <section class="menuOptionsTwo">
                <div class="OptionThree">
                    <img src="../public/assets/img/pizza_frango.png" alt="catupiryPizza">
                    <p class="descriptionPizza">f/c/catupiry</p>
                </div>
                <div class="OptionFour">
                    <img src="../public/assets/img/Portuguesa.png" alt="portuguesaPizza">
                    <p class="descriptionPizza">Portuguesa</p>
                </div>
            </section>
        </section>
    </section>

    <script src="/public/assets/js/home.js"></script>
</body>
</html>